@media (max-width: 1200px) {
    #sec1 h2 {
        font-family: 'Nanum Myeongjo', serif;
        writing-mode: rl-tb;
        font-size: 40px;
        margin: 135px auto;
    }

}

@media (max-width: 1139px) {
    footer .footer_left .row div {
        text-align: center;
    }
    #sec4 .sec4_cont ul li img {
        width: 80%;
    }
    #sec4 .sec4_cont ul li p {
        width: 80%;
    }
}

@media (max-width: 992px) {
    #sec2 dt {
        font-size: 35px;
    }

    #sec2 dd p {
        margin-left: 20px;
        font-size: 23px;
    }

    #sec2 dd ul {
        margin-left: 15px;
        font-size: 23px;
    }

    #sec3 dt {
        font-size: 35px;
    }

    #sec3 dd p {
        font-size: 23px;
    }

    #sec3 dd ul {
        margin-left: 15px;
        font-size: 23px;
    }

    #sec5 dt {
        font-size: 35px;
    }

    #sec5 dd p {
        font-size: 23px;
    }

    #sec6 dt {
        font-size: 35px;
    }

    #sec6 dd p {
        font-size: 23px;
    }

    #sec3 .sec3_cont ul li p {
        font-size: 25px;
    }

    /* sec5 */

    #sec5 .sec5_cont .news_text h4 {
        font-size: 24px;
        font-weight: bold;
        font-family: 'Nanum Myeongjo', serif;
        padding-bottom: 6px;
        margin-top: 15px;
    }

    #sec5 .sec5_cont .news_text p {
        font-size: 20px;
        font-family: 'Nanum Myeongjo', serif;
        white-space: normal;
        line-height: 30px;
    }

    #sec5 .sec5_cont .news_text p.day {
        padding-top: 3px;
        font-size: 20px;
        color: #828282;
        margin-bottom: 30px;

    }
}

@media (max-width: 768px) {
    #sec1 h2 {
        font-size: 30px;
        margin: 100px auto;
    }

    #sec2 dt {
        font-size: 30px;
    }

    #sec2 dd p {
        font-size: 20px;
    }

    #sec2 dd ul li {
        font-size: 20px;
    }

    #sec3 dt {
        font-size: 30px;
    }

    #sec3 dd p {
        font-size: 20px;
    }

    #sec3 dd ul li {
        font-size: 20px;
    }

    #sec5 dt {
        font-size: 30px;
    }

    #sec5 dd p {
        font-size: 20px;
    }

    #sec6 dt {
        font-size: 30px;
    }

    #sec6 dd p {
        font-size: 20px;
    }


    #sec3 .sec3_cont ul li p {
        font-size: 23px;
    }

    /* sec5 */

    #sec5 .sec5_cont .sec5_img_wrap {
        text-align: center;
        margin: 0 auto;
    }

    #sec5 .sec5_cont .sec5_img_wrap .news_text p {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
    }

    #sec5 .sec5_cont .news_text h4 {
        font-size: 22px;
        font-weight: bold;
        font-family: 'Nanum Myeongjo', serif;
        padding-bottom: 6px;
        margin-top: 15px;
        text-align: center;

    }

    #sec5 .sec5_cont .news_text p {
        font-size: 20px;
    }

    #sec5 .sec5_cont .news_text p.day {
        padding-top: 3px;
        font-size: 18px;
        margin-bottom: 30px;
        text-align: center;
    }
    
    #sec4 .sec4_cont ul:first-child li {
        text-align: center;
    }

}

@media (max-width: 576px) {
    #sec7 .container-fluid .row p {
        padding-top: 11px;
        font-size: 23px;
    }


}