/* 공통 */
.pd70 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.pd60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.pd50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb40 {
    margin-bottom: 40px;
}

a {
    color: #333;
    text-decoration: none;
}

/* 헤더 nav */
.navbar {
    height: 90px;
    margin-bottom: 0;
}

.navbar-default {
    background-color: white;
}

.navbar-nav>li>a {
    font-size: 30px;
    font-family: 'Amiri', serif;
    color: #333;
    padding-top: 35px;
}

.navbar-brand>img {
    margin-top: 5px;
}

.hamberger {
position: absolute;
right: 15px;
top: 30px;
}

/* sec1 */
#sec1 {
    background-color: #f6ebe1;
    font-size: 0;
    height: 100%;
}

#sec1 img {
    width: 100%;
}

#sec1 .container-fluid {
    padding-right: 0;
    padding-left: 0;
}
#sec1 .container-fluid .row{
    height: auto;
}
#sec1 h2 {
    font-family: 'Nanum Myeongjo', serif;
    writing-mode: tb-rl;
    font-size: 40px;
    margin: 0 auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* sec2 */

dl {
    display: flex;
    align-items: center;
}

dt {
    display: inline-block;
    font-size: 40px;
    font-family: 'Amiri', serif;
    letter-spacing: -1px;
    font-weight: 600;
    writing-mode: tb-rl;
    padding-bottom: 15px;
    padding-top: 15px;
    border-left: 2px solid #333;
}

dd {
    font-size: 25px;
    font-family: 'Nanum Myeongjo', serif;
    display: inline-block;
}
#sec2 .sec2_cont {
    text-align: center;
}
#sec2 .sec2_cont ul li img{
    border-radius: 10px;
}

#sec2 .sec2_cont ul li p {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 16pt;
    color: #fea700;
    margin-top: 15px;
}

#sec2 .sec2_cont ul li p+p {
    color: #333;
    font-size: 17pt;
    letter-spacing: -2px;
}

#sec2 .sec2_cont ul li {
    margin-bottom: 30px;
}

/* sec3 */

#sec3 .sec3_cont ul li {
    height: 230px;
    margin-bottom: 30px;
    border-radius: 10px;
}
#sec3 .sec3_cont ul li img {
    width: 100%;
    border-radius: 10px;
}

#sec3 dt {
    writing-mode: rl-tb;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
    border-left: 0px;
    border-bottom: 2px solid #333;
}

#sec3 .sec3_cont ul::after {
    content: "";
    display: table;
    clear: both;
}

#sec3 .sec3_cont ul li {
    border-radius: 10px;
    height: 230px;
    margin-bottom: 30px;
}

#sec3 .sec3_cont ul li:last-child {
    margin-bottom: 0px;

}

#sec3 .sec3_cont ul li:nth-child(1) {
    background-image: url(../img/outside1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 50%;
}

#sec3 .sec3_cont ul li:nth-child(2) {
    background-image: url(../img/outside2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 50%;
}

#sec3 .sec3_cont ul li:nth-child(3) {
    background-image: url(../img/outside3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 50%;
}

#sec3 .sec3_cont ul li p {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-right: 20px;
    font-family: 'Nanum Myeongjo', serif;
    color: white;
    position: relative;
    top: 30px;
    text-align: right;

}

#sec3 .sec3_cont ul li p+p {
    position: relative;
    top: 100px;
    left: 30px;
    text-align: left;
}

/* sec4 */
#sec4 {
    background-color: #fac55f;
    padding-top: 50px;
}

#sec4 .container-fluid .row >p {
    font-size: 55px;
    text-align: center;
    font-family: 'Amiri', serif;
    color: white;
    font-style: italic;
}
#sec4 .sec4_cont ul div {
    text-align: right;
}
#sec4 .sec4_cont ul div:last-child {
    text-align: left;
}

#sec4 .sec4_cont ul li p {
    font-size: 20px;
    font-family: 'Nanum Myeongjo', serif;
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 25px;
    text-align: center;
    width: 55%;
}

#sec4 .sec4_cont ul li img {
    width: 60%;
}

/* #sec4 .sec4_cont ul::before {
    content: "";
    display: block;
    width: 50px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(../img/right_direc.png);
    position: relative;
    left:450px;
    top: 240px;
    cursor: pointer;
}

#sec4 .sec4_cont ul::after {
    content: "";
    display: block;
    width: 50px;
    height: 70px;
    background-image: url(../img/left_direc.png);
    background-repeat: no-repeat;
    position: relative;
    left: 2060px;
    top: 165px;
    cursor: pointer;
} */

/* sec5 */


#sec5 .sec5_cont .row{
    margin-bottom: 25px;
}
#sec5 .sec5_cont .news_text h4 {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Nanum Myeongjo', serif;
    padding-bottom: 12px;

}

#sec5 .sec5_cont  .news_text p {
    font-size: 22px;
    font-family: 'Nanum Myeongjo', serif;
    white-space: normal;
    line-height: 32px;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#sec5 .sec5_cont  .news_text p.day {
    padding-top: 12px;
    font-size: 20px;
    color: #828282;
}

/* sec6 */
#sec6 dt {
    writing-mode: rl-tb;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
    border-left: 0px;
    border-bottom: 2px solid #333;
}


#sec6  ul li {
    margin-bottom: 20px;
}
#sec6 ul li .sec6_text p+p{
    font-size: 16px;
}
#sec6 ul li .sec6_text p{
    font-size: 18px;
}
#sec6 ul li .sec6_text p strong {
    padding-right: 10px;
}
#sec6 ul li .sec6_text p span {
    font-size: 16px;
}



/* sec7 */
#sec7 {
    background-image: url(../img/footer_banner.png);
    background-position: 50% 50%;
    height: 180px;
}
#sec7 .row p {
    font-family: "malgun gothic";
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    letter-spacing: -1px;
    margin: 43px auto 0 auto;
}

#sec7 .row:last-child p {
    margin-top: 10px;
}

#sec7 p>strong {
    color: #f85b72;
}

/* footer */
footer {
    background-color: #f9f9f9;
}

footer .footer_left ul li a {
    font-size: 22px;
    padding-right: 10px;
    font-family: "malgun gothic";
}

footer .footer_left .footer_text address {
    margin-top: 0px;
    color: #888;
    font-size: 18px;
    line-height: 30px;
}

footer .footer_right ul li:last-child a {
    padding-right: 0;
}